<app-feedback-popup
  [message]="feedbackMessage"
  [type]="feedbackType"
></app-feedback-popup>

<div class="page-container">
  <div class="navbar" [ngStyle]="{ 'justify-content': isLoginScreen ? 'center' : 'space-between' }">
    <div
      class="logo-container">
      <div class="logo-circle">
        <img src="tedi-logo.png" alt="TEDI Logo" style="width: 75%" />
      </div>
      <span style="font-weight: 500">Administrador</span>
    </div>

    @if (!isLoginScreen) {
      <div class="items-container">
        <span (click)="navigateTo('/adm-news')">Notícias</span>
        <span (click)="navigateTo('/adm-monitors')">Monitores</span>
        <span (click)="navigateTo('/adm-team')">Equipe</span>
      </div>
    }

    <div class="bottom-container" [ngClass]="{ 'bottom-container-login': isLoginScreen }">
      @if (!isLoginScreen) {
        <div class="logout" (click)="logout()">
          <mat-icon style="margin-right: 15px">logout</mat-icon>
          <span>Sair</span>
        </div>
      }
      <img src="utf-white-logo.png" alt="UTFPR Logo" [ngStyle]="{ 'width': isLoginScreen ? '65.5%' : '100%' }"/>
    </div>
  </div>
  <div class="container" [ngStyle]="{ 'padding': hasLateralScroll ? '20px 0px 0px 20px' : '20px 20px 0px' }">
    @if (!isLoginScreen && (title || showSearchBar || showAddButton)) {
      <div class="page-header-container">
        <h1 class="page-title">{{ title }}</h1>
        <div class="header-actions" [ngStyle]="{ 'padding-right': hasLateralScroll ? '20px' : '' }">
          @if (showSearchBar) {
            <search-bar [(dataSource)]="dataSource" [searchQuery]="searchQuery"> </search-bar>
          }
          @if (showAddButton) {
            <button mat-fab class="add-button custom-add-button" aria-label="Adicionar monitor" (click)="addButtonClicked.emit()">
              <mat-icon fontSet="material-icons-round">add</mat-icon>
            </button>
          }
        </div>
      </div>
    }
    <ng-content></ng-content>
  </div>
</div>