.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.login-left {
  width: 30%;
  background-color: #8ec9e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #233142;
  position: relative;
}

.logo-circle {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.admin-label {
  font-weight: bold;
  margin-top: 1rem;
}

.utfpr-logo {
  position: absolute;
  bottom: 20px;
  width: 100px;
}

.login-right {
  flex: 1;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-top: 1rem;
  font-weight: bold;
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #2f3e50;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
