<div class="login-container">
  <div class="login-left">
    <div class="logo-circle">
      <span class="logo-text">TEDI</span>
    </div>
    <p class="admin-label">Administrador</p>
    <img src="/download.jpg" alt="UTFPR Logo" class="utfpr-logo" />
  </div>
  <div class="login-right">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
      <label for="usuario">Usuario:</label>
      <input id="usuario" formControlName="id" type="text" />

      <label for="senha">Senha:</label>
      <input id="senha" formControlName="password" type="password" />

      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </form>
  </div>
</div>
