.page-container {
  display: flex;
  height: 100%;
  min-height: 69vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
}

/* .header-container { Comentei pq estava bugando a Home
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 0px;
  min-height: 68px;
  width: 98%;
} */

.page-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
