.page-container {
  display: flex;
  height: 100%;
  min-height: 69vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
}

 .page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 16px;
  min-height: 68px;
  width: 100%;
 }

.page-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.header-actions {
  display: flex;
  gap: 16px;
  height: 46px
}