<section id="news-grid" [ngClass]="{'horizontal-layout': isHorizontalLayout}">
    @for (news of newsList; track news.id) {
        <div class="news-card">
            <img class="news-image" [src]="news.image_url" alt="Notícia"/>

            <div class="news-content">
                <h3 class="news-title">{{ news.title }}</h3>
                <p class="news-date">{{ news.creation_date | date: 'dd \'de\' MMMM \'de\' y' }}</p>
            </div>
            <div class="news-actions">
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    }
</section>
  