<div class="matrix-container-column" [ngStyle]="{'height': leftColumnHeight}">
    <section id="product-grid">
        @for (product of products; track product.id) {
        <div class="product-card">
            <span id="card-header">{{ product.name }}</span>

            <section class="product-info-container">
                <div class="product-info">
                    <span>R${{ product.cost }}</span>
                </div>
                <div class="product-info">
                    <span>{{ product.tax }}%</span>
                </div>
            </section>
            <div class="product-info" *ngIf="product.stock < 1">
                <span class="out-of-stock">Esgotado</span>
            </div>

            <div class="quantity-control">
                <button mat-icon-button (click)="decreaseQuantity(product)" [disabled]="product.stock < 1"
                    [ngStyle]="{'background-color': product.stock > 0 ? '#8EC6E6' : '#93b1c2', 'color': product.stock > 0 ? '#faeeef' : ''}">
                    <mat-icon>remove</mat-icon>
                </button>
                <input type="number" [(ngModel)]="product.quantity" min="0" [readonly]="product.stock < 1">
                <button mat-icon-button (click)="increaseQuantity(product)" [disabled]="product.stock < 1"
                    [ngStyle]="{'background-color': product.stock > 0 ? '#8EC6E6' : '#93b1c2', 'color': product.stock > 0 ? '#faeeef' : ''}">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        }
    </section>
</div>