.matrix-container-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;

    button {
        display: flex;
        align-items: center;
        background-color: #2D3D4F;
        color: #faeeef;
        min-height: 37.56px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
        padding: 0% 5%;
    }

    button:hover:not(:disabled) {
        background-color: #8EC6E6 !important;
        cursor: pointer !important;
    }
}

#product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    overflow-y: auto;

    .product-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 18px;
        border: 1px solid #faeeef;
        border-radius: 10px;
        box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 5%);

        #card-header {
            border-bottom: 1px solid #faeeef;
            padding-bottom: 12px;
        }

        .product-info-container {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: space-between;
            padding-top: 8px;
            font-size: 12px;
        }

        .product-info {
            display: flex;
            flex-direction: column;

            span:nth-child(odd) {
                font-weight: 500;
            }

            span:nth-child(even) {
                padding: 5px;
            }

            .out-of-stock {
                font-size: 14px;
                color: red;
                font-weight: bold;
            }
        }

        .quantity-control {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 8px;
        }

        .quantity-control input {
            margin: 10px;
            height: 36px;
            width: 50px;
            background-color: #faeeef;
            border: none;
            border-radius: 5px;
        }
    }

    .product-card[disabled] {
        opacity: 0.5;
    }
}