<header class="app-header">
  <div>
    <img
      class="logo"
      (click)="navigateTo('')"
      src="tedi-logo_copy.png"
      alt="TEDI Logo"
    />
  </div>
  <button class="hamburger" (click)="toggleMenu()">☰</button>

  <nav class="navigation" [class.open]="menuOpen">
    <ul>
      <li><span (click)="navigateTo('')">Início</span></li>
      <li><span (click)="navigateTo('/team')">Equipe</span></li>
      <li><span (click)="navigateTo('/news')">Notícias</span></li>
      <li><span (click)="navigateTo('/monitors')">Monitores</span></li>
      <li><span (click)="onContactButtonClick()">Contato</span></li>
    </ul>
  </nav>
</header>
