.app-header {
  height: 10vh;
  background-color: #b0d4e6;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
  width: 100%;
  /* position: fixed; -- verificar se será fixo
  z-index: 1000; */
}

@media (min-width: 768px) {
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
}

.navigation ul li {
  margin-left: 40px;
}

.navigation ul li:first-child {
  margin-left: 0;
}

.navigation ul li span {
  text-decoration: none;
  color: #2e3e50;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  padding: 5px 0;
  cursor: pointer;
}

.navigation ul li span:hover {
  color: #000000;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #2e3e50;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: -200px; /*esconder o menu*/
    width: 200px;
    height: 100vh;
    background-color: #b0d4e6;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }

  .navigation.open {
    left: 0;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.455);
  }

  .navigation ul {
    list-style: none;
    padding: 0;
  }

  .navigation ul li {
    margin: 20px 0;
  }
}
