<footer class="app-footer">
  <div class="footer-contacts">
    <a
      href="https://www.facebook.com/ProjetoTedi"
      target="_blank"
      rel="noopener noreferrer"
      class="contact-item"
    >
      <i class="material-icons-outlined">facebook</i>
      <span>Projeto Tedi</span>
    </a>
    <a href="mailto:projetotedi@gmail.com" class="contact-item">
      <i class="material-icons-outlined">email</i>
      <span>projetotedi&#64;gmail.com</span>
    </a>
    <a
      href="https://www.instagram.com/projeto_tedi"
      target="_blank"
      rel="noopener noreferrer"
      class="contact-item"
    >
      <i class="material-icons-outlined">camera_alt</i>
      <span>Projeto Tedi</span>
    </a>
  </div>

  <div class="footer-bar">
    <p class="copyright-text">
      &copy; 2025 Projeto TEDI – Todos os direitos reservados.
    </p>
    <img src="utf-white.png" alt="Logo UTFPR" class="footer-logo-img" />
  </div>
</footer>
