<footer class="app-footer">
    <div class="footer-contacts">
      <a
        href="https://www.facebook.com/ProjetoTedi"
        target="_blank"
        rel="noopener noreferrer"
        class="contact-item"
      >
        <img
          src="facebook.svg"
          alt="facebook"
          style="width: 20%; margin: 0 0.5em"
        />
        <span>Projeto Tedi</span>
      </a>
      <a href="mailto:projetotedi@gmail.com" class="contact-item">
        <img src="email.svg" alt="email" style="width: 12%; margin: 0 0.5em" />
        <span>projetotedi&#64;gmail.com</span>
      </a>
      <a
        href="https://www.instagram.com/projeto_tedi"
        target="_blank"
        rel="noopener noreferrer"
        class="contact-item"
      >
        <img
          src="instagram.svg"
          alt="instagram"
          style="width: 20%; margin: 0 0.5em"
        />
        <span>Projeto Tedi</span>
      </a>
    </div>

  <div class="footer-bar">
    <p class="copyright-text">
      &copy; {{ currentYear }} Projeto TEDI – Todos os direitos reservados.
    </p>
    <img src="utf-white.png" alt="Logo UTFPR" class="footer-logo-img" />
  </div>
</footer>
