.filter-group {
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 6px;
}

.date-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.date-inputs {
    display: flex;
    flex-direction: column;
    font-size: 0.75em;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

input, select, button {
    padding: 6px;
    font-size: 1em;
    border: 1px solid #ccc;
    color: #333;
}

input:focus {
    outline: none;
    border: 1px solid #2e3e50;
    box-shadow: 0 0 0 2px rgba(142, 198, 230, 0.4);
}

.filter-fields {
    border-radius: 8px;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.filter-fields:focus {
    outline: none;
    border: 1px solid #8ec6e6;
    box-shadow: 0 0 0 2px rgba(142, 198, 230, 0.4);
}

.page-action-button {
    border-radius: 8px;
    font-weight: 500;
    min-width: 110px;
    padding: 0 16px;
    line-height: 36px;
    text-transform: none;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
        color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.custom-confirm-button {
    background-color: #ffffff !important;
    color: #333 !important;
    border: 1px solid #2e3e50 !important;
}

.custom-confirm-button:hover {
    background-color: #8ec6e6 !important;
}