* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  color: #2e3e50 !important;
}

.mat-mdc-header-row, .mat-mdc-row, mat-icon {
  color: #2e3e50 !important;
}

.icon-button:hover {
  background-color: #0b223a1a;
  border-radius: 4px;
}